Django>=5.1.2,<5.2
python-dotenv>=1.0.1
openpyxl>=3.1.5
google-api-python-client>=2.150.0
google-auth-httplib2>=0.2.0
google-auth-oauthlib>=1.2.0
requests>=2.31.0

#  .\venv\Scripts\Activate.ps1   
#   python manage.py runserver   